[Default Applications]
{% for entry in mimeapps_default_associations %}
{{ entry.type }}={{ entry.app }}
{% endfor %}

[Added Associations]
{% for entry in mimeapps_added_associations %}
{{ entry.type }}={{ entry.app }}
{% endfor %}
