[Default Applications]
{% for entry in default_associations %}
{{ entry.type }}={{ entry.app }}
{% endfor %}

[Added Associations]
{% for entry in added_associations %}
{{ entry.type }}={{ entry.app }}
{% endfor %}
